.card-game{
    margin-bottom: 10px;
    box-sizing: border-box;
}
.card-img{
    padding: 10px;
    transform:scale(1, 1);
    transition: 1s;

}
.card-img:hover {
    transform:scale(1.2, 1.2);
   
}
.bg{
    background-color:rgb(252, 245, 235);
}
.align-left{
    text-align: left;
}