.card-game{
    margin-bottom: 10px;
    box-sizing: border-box;
}
.card-img{
    padding: 10px;
    transform:scale(1, 1);
    transition: 1s;

}
.card-img:hover {
    transform:scale(1.2, 1.2);
   
}
.Game-bg{
    background: linear-gradient(to left, #c63439, #06105b);
}
.align-left{
    text-align: left;
}
.form-select{
    margin: 20px;
    margin-right: 0px;
    border-width: 2px;
    border-color: skyblue;
    width: 85%;
}
.pagination{
    justify-content: center;
    margin-bottom: auto;
    padding-bottom: 10px;
}
.Game-bg .breadcrumb{
    background: rgba(0,0,0,0);

}