.align-left{
    text-align: left;
}
.gamedetail{
    background: white;
}
/* .button-buy{
    position: absolute;
} */

@media only screen and (max-width: 900px){
    .align-left{
        text-align: center;
    }
}
    