#team-title{
    color: white;
}
#team .breadcrumb{
    background-color: rgba(0, 0, 0, 0)
}
#team .breadcrumb .active{
    color: white;
}
#name-cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
}
.name-card{
    flex: 0 0 calc(25% - 60px);
}
.icon {
    height: 20px;
    width: 20px;
    display: inline-block;
}
.icon + .icon {
    margin-left: 20px;
}
@media only screen and (max-width: 991px){
    .name-card{
        flex: 0 0 calc(50% - 60px);
    }
}
@media only screen and (max-width: 767px){
    .name-card{
        flex: 0 0 calc(100% - 100px);
    }
}
