.navbar {
    background: linear-gradient(to right, #001b5a, rgb(255, 129, 167), #ff4a50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-brand {
    color: white;
    width: 200px;
}