#contact{
    .breadcrumb{
        background: none;
        .active{
            color: white;
        }
    }
    .info {
        justify-content: center;
        align-items: center;
    
        &__email, &__phone, &__address {
            font-weight: bold;
            margin: 30px;
            color: white;
        }
    
        iframe {
            height: 250px;
            width: 400px;
        }
    
        a:hover {
            color: goldenrod;
        }

    }
}
