.Contact {
    .breadcrumb {
        background-color: rgba(0,0,0,0);
    }
}

.info {
    justify-content: center;
    align-items: center;

    &__email, &__phone {
        font-weight: bold;
        margin: 30px;
    }

    iframe {
        height: 260px;
        width: 100%;
        border-radius: 20px;
    }

    a {
        color: white;
    }

    a:hover {
        color: goldenrod;
    }
}

.form {
    .jumbotron {
        background-color: white;
        border-radius: 20px;
    }
}