#home{
    h1, h2{
        color: white;
    }
    
    #header{
        position: absolute;
        top: 0;
        width: 100%;
        background: rgba(0,0,0,0.6);
        transition: 0.3s;
        .nav-dropdown{
            .dropdown-menu{
                background: white;
                a.nav-link{
                    padding: 0.25rem 1.5rem;
                    color: black !important;
                }
                .nav-link-active{
                    border-bottom: none;
                    border-left: solid;
                }
            }
            
        }
    }
    &-title{
        margin-bottom: 0;
        border-radius: 0;
        display: flex;
        
        align-items: center;
        padding: 200px 0;
        padding-left: 0;
        padding-right: 0;
        background: url('../../assets/img/home.jpg');
        background-size: cover;
        background-position: center;
        width: 100%; 
        &-content{
            width: 100%;
            background:  rgba(0, 0, 0, 0.3);
            padding: 2vw 0;
            margin-bottom: 2vw;
            button{
                background: linear-gradient(to left, rgb(198, 52, 57), rgb(6, 16, 91));
            }

        }
    }
    &-stats{
        padding-top: 16px;
        background: url('../../assets/img/home-stat.jpeg');
        background-position: center;
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        background-size: cover;
        
        background-attachment: fixed;
        background-repeat: no-repeat;
            .stat{
                flex: 0 0 25%;   
                .circle{
                    margin: 0 auto 40px;
                    width: 200px;
                    height: 200px;
                    border: solid;
                    border-color: white;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: linear-gradient(to left, rgba(198, 52, 57, 0.6), rgba(6, 16, 91, 0.6));
                    p{
                        font-size: 40px;
                        color: white;
                    }
                }
                .stat-description{
                    padding: 0 20px;
                    font-size: 20px;
                    color: white;
                }
            }   
    }
 
    

    @media only screen and (max-width: 991px){
        #header{
            background: none;
            .header-brand{
                display: none;
            }
            .navbar-toggler{
                background-color: white;
            }
            .nav-link{
                color: black !important;
            }
        }
        &-stats{
            .stat{
                flex: 0 0 50%;
            }   
        }
    }
    @media only screen and (max-width: 576px){
        &-stats{
            .stat{
                flex: 0 0 100%;
            }   
        }
    }
}
